@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,600&display=swap');

* {
	--primary-color: #3794ff !important;
	--secondary-color: #2576d3 !important;
	--warning: #f48641 !important;
	--info: #4286f4 !important;
	--success: #2ed347 !important;
	--text-grey: #8c8f93 !important;
	--primary-grey: #262525 !important;
	--primary-grey2: #292929 !important;
	--secondary-grey: #211e1e !important;
	--tertiary-grey: #1e1c1c !important;
}

body {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	cursor: default;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	background-color: var(--secondary-grey);
	margin: 0;
	padding: 0;
	height: 100vh;
}

*::-webkit-scrollbar {
	background-color: transparent;
	width: 5px;
}


*::-webkit-scrollbar-thumb {
	background-color: transparent;
	opacity: 0.75;
}
#banner {
	flex: 0 0 5%;
	min-height: 35px;
	max-height: 50px;
	width: 100vw;
}
.banner {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-self: center;
	align-content: center;
	
	color: var(--text-grey);
	background-color: var(--tertiary-grey);
	/* -webkit-app-region: drag; */
	position: sticky;
	
}

.banner-logo {
	flex: 1 1 0;
	height: 100%;
	background-image: url(../img/prosperaio_logo.png);
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
	object-fit: scale-down;
	-webkit-app-region: drag;
}

.banner-draggable {
	height: 100%;
	flex: 9 9 0;
	-webkit-app-region: drag;
}

.banner-nav {
	flex: 13 13 0;
	height: 100%;
	justify-content: flex-start;
	overflow: hidden;
}

.banner-controls {
	display: flex;
	flex-direction: row;
	flex: 2.3 0 0;
	height: 100%;
	justify-content: space-evenly
}



.nav, 
.control {
	display: flex;
	flex: 1 0 0;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-family: "Open Sans Bold";
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 70%;
	cursor: pointer;
	opacity: 0.5;
}

.control {
	flex: 1 1 0;
	justify-content: center;

}
.nav:hover, .control:hover {
	transition: 0.5s linear;
	opacity: 1;
	text-decoration: none;;
}

.nav-active {
	opacity: 1;
	color: white;
}

.page {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: hidden;
	width: 100%;
	height: 100%;
	align-content: flex-start;
}

.page-hidden {
	display: none !important;
}


.header-title {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex: 5 3 0;
	font-family: "Open Sans Bold";
	font-size: 28px;
	height: 100%;
	color: white;
	align-items: center;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
	min-width: 0;
	text-indent: 2.5vw;
}

.header-extra {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	flex: 1;
	padding-right: 2.5vw;
	justify-content: flex-end;
		align-self: center;
}

.header-extra-item {
	flex: 1 0 100%;
	align-self: flex-end;
	text-indent: 2.5vw;


}

.header-extra-text {
	font-family: "Open Sans";
	color: white;
	font-size: 1.6vh;
	text-align: right;
	
}

.panel {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 1 1 0;
	justify-content: space-evenly;
	background-color: var(--primary-grey);
	border-radius: 1vh;
	margin: 1vmax;
	
}

.panel-main {
	background-color: var(--primary-grey) !important;
	margin: 0 1%;
	min-height: calc(90vh - 60px);
	align-content: flex-start;
	align-self: flex-start;
	max-height: calc(90vh - 60px);
	
	overflow-y: auto;
}

.panel-light {
	background-color: var(--secondary-grey);
	align-content: flex-start;
}

.panel-invisible {
	background-color: transparent;
	box-shadow: none;
}

.panel-fixed-25 {
	flex: 0 0 calc(92.5% / 3);
	justify-items: flex-start;
}

.panel-title {
	display: flex;
	flex-direction: row;
	flex: 0 0 100% !important;
	font-family: "Open Sans Bold";
	height: 30px;
	padding: 5px 0;
	font-size: 28px;
	color: var(--text-grey);
	justify-content: flex-start;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-self: flex-start;
	justify-content: center;
	flex: 1 1 100%;
	height: inherit;
	min-height: 0;
	padding: 2.5px 0;
}

.header-container {
	margin: 0 1%;
	max-height: 10vh;
	align-self: center;
	align-content: center;
	align-items: center;
	justify-self: center;
	justify-content: space-between;
	background-color: var(--secondary-grey);
}
/* .padding-vertical {
	padding: 1vh 0;
} */

.container-start {
	justify-content: flex-start;
}

.container-pages {
	padding: 0;
	flex: 20 20 0;
	width: 100%;
	margin: 0;
	overflow: hidden;
}

.container-element {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap !important;
	flex: 1 1 0;
	margin: 0.25vmax 0.5vmax;
	overflow: hidden;
	color: var(--text-grey);
	font-size: 13px;
	font-family: "sans serif";
	background-color: transparent;
}


.container-element-sm {
	max-width: 12.5vw;
}

.container-element-md {
	max-width: 20vw;
}

.container-element-lg {
	max-width: 30vw;
}

.f-1 {
	flex: 1 0 0;
}

.f-3 {
	flex: 3 0 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button,
input[type=time]::-webkit-inner-spin-button, 
input[type=time]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button

{ 
  -webkit-appearance: none; 
  margin: 0; 
}
.input, .btn {
	display: flex;
	min-height: 4vh;
	flex: 1 1 0;
	flex-direction: row;
	flex-wrap: nowrap;
	
	align-content: center;
	justify-content: center;
	
	font-family: "Open Sans";
	font-size: 12px;
	background-color: var(--secondary-grey);
	margin: 0; 
	opacity: 0.85;
	cursor: pointer;
	overflow: hidden;

	border: 1px solid transparent;
	border-radius: 1vh;
	box-sizing: border-box;
	
	-webkit-appearance: none; 

}
.input::-webkit-file-upload-button {
	visibility: hidden;
	width: 0;
	margin:0;
	padding:0
}

.input[type="file"] {
	align-content: center;
}

.input[type="file"]::before {
	width: 0;
}



.input {

	color: var(--text-grey);
	text-indent: 0.5vw;
	margin: 1vh;
	background-color: var(--primary-grey);
	margin: 0.1em;
}

.input:hover {
	transition: 1.5s;
	color: white;
	cursor: pointer;
	opacity: 1;
	outline: 0 !important;
	border: 1px solid var(--primary-color);
}

.input[disabled], .input[disabled="disabled"], .btn[disabled] {
	cursor: not-allowed !important;
	opacity: 0.35;
	color: var(--text-grey);
}

.input[disabled]:hover, .input[disabled="disabled"]:hover, .btn[disabled]:hover {
	background-image: none;
	box-shadow: none;
	opacity: 0.35;
	border: 0 !important;
}


.input option {
	overflow: hidden !important;
	text-overflow: none !important;
	display: flex;
	flex-direction: row;
	flex: 0 1 0;
}

.input option:checked {
	background: var(--primary-color) linear-gradient(45deg, var(--primary-color), var(--secondary-color));
	color: white;
	border: none;
	outline: none;
	overflow: hidden !important;
	flex-grow: 0;

}	

.btn {
	flex-wrap: nowrap;
	word-wrap: normal;	
	padding: 0.75vh 1vw;
	align-content: center;
	opacity: 0.7;
	overflow: hidden;
	background-color: var(--primary-grey);
	color: white;
}

.btn:hover {
	transition: 0.25s;
	opacity: 1;
}

.btn-secondary {
	background-color: var(--secondary-grey);
}




.btn-transparent {
	background-image: none;
	background-color: transparent;
	border-color: transparent;
	color: var(--text-grey);
}

.btn-square {
	flex-basis: 4vh !important;
	max-width: 4vh !important;
}




input[type="checkbox"] {
	display: none;
}
/*** custom checkboxes ***/

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url("../../node_modules/@fortawesome/fontawesome-free/webfonts/fa-solid-900.eot");
  src: url("../../node_modules/@fortawesome/fontawesome-free/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../../node_modules/@fortawesome/fontawesome-free/webfonts/fa-solid-900.woff2") format("woff2"), url("../../node_modules/@fortawesome/fontawesome-free/webfonts/fa-solid-900.woff") format("woff"), url("../../node_modules/@fortawesome/fontawesome-free/webfonts/fa-solid-900.ttf") format("truetype"), url("../../node_modules/@fortawesome/fontawesome-free/webfonts/fa-solid-900.svg#fontawesome") format("svg"); }

input[type=checkbox] + .checkbox-label::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 800;
}

input[type=checkbox] + .checkbox-label::before { 
	content: "\f204"; 
	color: var(--primary-color)
} 
/* unchecked icon */
input[type=checkbox] + .checkbox-label::before { 
	letter-spacing: 5px; 
} 
/* space between checkbox and label */

input[type=checkbox]:checked + .checkbox-label::before { 
	content: "\f205"; 
	color: var(--primary-color)
} 
/* checked icon */
input[type=checkbox]:checked + .checkbox-label::before { 
	letter-spacing: 5px; 
} /* allow space for check mark */

.checkbox-label {
	font-size: 0.9vmax;
}
input[type="checkbox"][disabled] + .checkbox-label::before {
	color: var(--primary-grey);
	cursor: not-allowed;
}

input[type="checkbox"][disabled] + .checkbox-label {
	cursor: not-allowed !important;
}


.input:focus, .btn:focus {
	outline: 0;
}

label, .label {
	display: flex;
	flex-direction: row;
	
	flex: 0 0 100%;
	font-family: "Open Sans";
	font-size: 0.8vmax;
	height: 1.2vmax;
	text-align: left;
	color: var(--text-grey);
	align-content: center;
	justify-content: flex-start;
	overflow: hidden;
}





.table {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 1;
	justify-content: flex-start;
	align-self: center;
	text-align: center;
	color: white;
	table-layout: fixed;
	padding: 1.5%;
}

.table-header, 
.table-body {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	flex: 1 0 100%;
	justify-content: center;
	
}

.table-header {
	align-content: center;
	height: 5vh;
	font-family: "Open Sans Bold";

	font-size: 1vw;
	background-image: transparent;
	border-radius: 0.75vh 0.75vh 0 0;
}

.table-body {
	align-content: flex-start;
	height: 62vh;
	font-family: "Open Sans";
	font-weight: 600;
	font-size: 0.8vw;
	color: white;
	background-color: transparent;
	overflow-y: auto;
}

.table-body-small {
	height: 30vh;
}

.row {
	display: flex;
	flex: 0 0 100%;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: flex-start;
	justify-content: flex-start;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 3vw;
}

.table-body .row {
	opacity: 0.65;
}

.table-body .row:hover {
	opacity: 1;
	cursor: pointer;
}




.cell {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	height: 3vw;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.cell-header {
	align-content: center;
	justify-content: center;
}

.cell-header-dark {
	background-image: none;
	background-color: var(--tertiary-grey);
	color: var(--secondary-grey);
}

.cell-body {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;	
	text-align: auto;

}

tbody .row {
	border-radius: 100000px;
	margin: 0.5vh 1vh;
	background-color: var(--secondary-grey);
	opacity: 0.9;
	
}

/* 
tbody .row:nth-child(odd) {
	background-color: var(--secondary-grey);
	opacity: 0.8;
	box-shadow: 0.1vh 0.1vh 0.1vh var(--tertiary-grey);
} */

/* tbody .row .input {
	background-color: var(--secondary-grey);
} */

/* tbody .row:nth-child(odd) .input {
	background-color: var(--tertiary-grey);
} */




.action-button {
	width: 1.5vw;
	font-size: 0.8vw;
	color: var(--primary-color);
	cursor: pointer;
	opacity: 0.5;
	background: none;
	border: none;
}

.action-button[disabled="true"] {
	cursor: not-allowed;
}

.action-button:hover {
	transition: 0.25s;
	opacity: 1;
}

.action-button:focus {
	outline: 0;
}

.play-btn {
	font-size: 0.8vw;
	background-size: 0.8vw 0.8vw;
	height: 0.8vw;
	width: 0.8vw;
	font-size: 0.8px;
}

.play-btn::before {
	font-size: 0.8vw;
	background-size: 0.8vw 0.8vw;
	height: 0.8vw;
	width: 0.8vw;
	content: url('../icons/play.svg')
}

.col-id {
	flex: 1;
	border-left-width: 0 !important;
}

.col-site {
	flex: 1.9;
}

.col-mode {
	flex: 1.5;
}

.col-profile {
	flex: 3;
}

.col-products {
	flex: 4;
}



.col-task-proxy {
	flex: 3;
}

.col-size {
	flex: 2;
}

.col-timer {
	flex: 2;
}

.col-status {
	flex: 3;
}

.col-actions {
	flex: 2.25;
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-right-width: 0 !important;
}


.col-captcha-account {
	flex: 3;
}

.col-captcha-actions {
	flex: 1;
}


.col-bank-expiry {
	flex: 1;
}

.col-bank-site {
	flex: 1;
}


.col-bank-token {
	flex: 3;
}

.col-order {
	flex: 2;
}

.col-actions-sm {
	flex: 2;
}

#proxyTestSite {
	height: 30vh;
}

.col-proxy {
	flex: 1;
	border-left: 0 !important;
}

.col-proxyPort {
	flex: 0.5;
}

.col-proxyUser {
	flex: 1.5;
}

.col-proxyStatus {
	flex: 1;
}

.col-proxySpeed {
	flex: 1;
	border-right: 0 !important;
}

#proxyInput {
	height: 55vh;
	padding-left: 1%;
	text-indent: 0;
}


.footer {
	position: bottom;
	display: flex;
	margin: 0;
	padding: 0;
	flex: 1 0 100%;
	height: 2.5vh;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: flex-start;
	background-color: var(--tertiary-grey) !important;
}



.footer-text {
	font-family: "Montserrat Bold";
	font-size: 0.6vw;
	text-align: center;
	color: var(--text-grey);
	height: 2.5vh;
	padding: 0;
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	text-align: center !important;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	text-overflow: ellipsis;

}

#proxyMassInput {
	height: 60vh;
	resize: none;
	border: none;
	opacity: 1;
	cursor: text;
}

#footerCopyright {
	flex: 10;
}

#footerVersion {
	flex: 4;
}

#footerUpdate {
	flex: 2;
}

#footerTerms {
	flex: 2;
}

#footerGuides {
	flex: 2;
}

#footerTwitter {
	flex: 1;
}

#footerInstagram {
	flex: 1;
	text-decoration: none;
}

i {
	align-self: center;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: 90vw;
  margin: 2vw;
	pointer-events: none;
	border-radius: 1vh;
}

.modal.fade .modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -25%);
  transform: translate(0, -25%);
}

.modal.show .modal-dialog {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (0.5rem * 2));
}

.modal-content {
  position: relative;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  width: 90vw;
  pointer-events: auto;
  background-color: var(--secondary-grey);
  background-clip: padding-box;
  border-radius: 1vh;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}


.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
	padding: 1rem;
	background-color: var(--secondary-grey);
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
}

.modal-footer > :not(:first-child) {
  margin-left: .25rem;
}

.modal-footer > :not(:last-child) {
  margin-right: .25rem;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 576px) {
  .modal-dialog {
		
		
    margin: 1.75rem auto;
  }
  .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .modal-sm {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 800px;
	}
}